@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=League+Spartan:wght@100..900&display=swap');

* {
  font-family: 'League Spartan', sans-serif;
  font-weight: 400;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  position: relative;
  padding: 30px;
  width: 100%;
  height: 100vh;
  background-color: #87ceeb;
  color: #333;
}

.sub-container {
  position: relative;
  margin-top: 30px;
  padding: 20px;
  height: 400px;
  width: 600px;
  background-color: #111;
  border: 3px dotted #ff4500; 
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.8);
}

textarea {
  width: 100%;
  height: 40%;
  font-size: 15px;
  background-color: transparent;
  border: 3px dotted #ff4500;
  border-radius: 5px;
  color: #ff4500;
  padding: 10px;
}

button {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 15px;
  font-weight: 900;
  background-color: #ff4500;
  border: none;
  border-radius: 3px;
  padding: 6px 4px;
  cursor: pointer
}

button:hover {
  opacity: 0.85;
}

button:active {
  transform: scale(0.98);
}

.logo {
  position: absolute;
  bottom: 50px;
  right: 50px;
  background-color: #111;
  color: #ff4500;
  font-family: 'Amatic SC', sans-serif;
  font-size: '22px';
  font-weight: bold;
  padding: 5px 10px;
  border: 3px dotted #ff4500;
  border-radius: 5px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.8);
}